<form (ngSubmit)="submit()" [formGroup]="form">
  <formly-form [fields]="fields" [form]="form" [model]="model" [options]="options"></formly-form>
  <button class="btn btn-primary submit-button" type="submit">Submit</button>
  <button (click)="options.resetModel()" class="btn btn-default" type="button">Reset</button>
</form>


<!-- Copyright 2021 Formly. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at https://github.com/ngx-formly/ngx-formly/blob/main/LICENSE -->